{% load bootstrap4 %}
{% load i18n %}
{%load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style='background:#1d0427'>



<form class="text-center border border-light p-5" method="post">
<div class="jumbotron" style='background:white;'>
<p class="h4 mb-4"><img src="{%static '/images/ic_logobig.png' %}" alt=""></p>
<div style='left:20px; right:20px'>

{% csrf_token %}

{% bootstrap_form form %}



</div>

<button class="btn btn-info btn-block my-4" type="submit">{% trans 'Log in' %}</button>


<p>Not a member?
    <a href="{% url 'accounts:sign_up' %}">Register</a>
</p>


</div >

</form>



<!--
    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Log in' %}</button>

    </form> -->

    <!-- <hr> -->
<!--
    <ul>

        <li>
            <a href="{% url 'accounts:restore_password' %}">{% trans 'Forgot your password?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:remind_username' %}">{% trans 'Forgot your username?' %}</a>
        </li>
        <li>
            <a href="{% url 'accounts:resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>
        </li>
    </ul> -->



  </body>
</html>
