<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to InterviewChimp! Here's the question for the Day <h1>
    <p>
    <h4>
      Write a function to find the longest common prefix string amongst an array of strings.

    If there is no common prefix, return an empty string "".

    <h4>


    <p bold = "strong">

          Example 1:

          Input: strs = ["flower","flow","flight"]
          Output: "fl"
          Example 2:

          Input: strs = ["dog","racecar","car"]
          Output: ""
          Explanation: There is no common prefix among the input strings.
    </p>

    <H1> YOU CAN SUBMIT THE PROBLEM HERE: <a href="https://leetcode.com/problems/longest-common-prefix/">leetcode</a>


    <h1>EVERY QUESTION COUNTS TO MAKE YOUR DREAM COME TRUE!</h1>


  </body>
</html>
