<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to InterviewChimp! Here's the question for the Day <h1>
    <p>
    <h4>
      Design a stack that supports push, pop, top, and retrieving the minimum element in constant time.
      push(x) -- Push element x onto stack.
      pop() -- Removes the element on top of the stack.
      top() -- Get the top element.
      getMin() -- Retrieve the minimum element in the stack.
    <h4>
    <p bold = "strong">
            Example 1:

            Input
            ["MinStack","push","push","push","getMin","pop","top","getMin"]
            [[],[-2],[0],[-3],[],[],[],[]]

            Output
            [null,null,null,null,-3,null,0,-2]

            Explanation
            MinStack minStack = new MinStack();
            minStack.push(-2);
            minStack.push(0);
            minStack.push(-3);
            minStack.getMin(); // return -3
            minStack.pop();
            minStack.top();    // return 0
            minStack.getMin(); // return -2


            Constraints:

            Methods pop, top and getMin operations will always be called on non-empty stacks.
    </p>

    <h1>EVERY QUESTION COUNTS TO MAKE YOUR DREAM COME TRUE!</h1>


  </body>
</html>
