<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to InterviewChimp! Here's the question for the Day <h1>
    <p>
    <h4>
      Given a string S, check if the letters can be rearranged so that two characters that are adjacent to each other are not the same.

      If possible, output any possible result.  If not possible, return the empty string.
    <h4>


    <p bold = "strong">
      Example 1:

      Input: S = "aab"
      Output: "aba"
      Example 2:

      Input: S = "aaab"
      Output: ""
      Note:

      S will consist of lowercase letters and have length in range [1, 500].
    </p>

    <h1>EVERY QUESTION COUNTS TO MAKE YOUR DREAM COME TRUE!</h1>


  </body>
</html>
